fastapi
uvicorn
# streamlit  // old prototype frontend for minimal UI
requests
groq
pypdf2
numpy
python-dotenv
scikit-learn
python-multipart
sqlalchemy
psycopg2-binary
slowapi

pytest
pytest-asyncio  # For testing asynchronous FastAPI endpoints
httpx # For testing FastAPI endpoints