fastapi
uvicorn
streamlit
requests
groq
pypdf2
numpy
python-dotenv
sentence_transformers
python-multipart
sqlalchemy
psycopg2-binary

pytest
pytest-asyncio  # For testing asynchronous FastAPI endpoints
httpx # For testing FastAPI endpoints