fastapi
uvicorn
# streamlit  // old prototype frontend for minimal UI
requests
groq
pypdf2
numpy
python-dotenv
# sentence_transformers  // semantic matching pulls pytorch + CUDA -> requires 2GB of GPU
fastembed
python-multipart
sqlalchemy
psycopg2-binary

pytest
pytest-asyncio  # For testing asynchronous FastAPI endpoints
httpx # For testing FastAPI endpoints